@page "/addcompany"
@inject IAPICallService APICallService
@inject NavigationManager NavigationManager

<h3>Add Company</h3>

<EditForm Model = "company" OnSubmit ="HandleSubmit">
    <label>CIF:</label>
    <br>
    <InputText @bind-Value = "company.companyCIF">@company.companyCIF</InputText>
    <br>

    <label>Name:</label>
    <br>
    <InputText @bind-Value = "company.companyName">@company.companyName</InputText>
    <br>

    <label>Address:</label>
    <br>
    <InputText @bind-Value="company.companyAddress">@company.companyAddress</InputText>
    <br>

    <label>County:</label>
    <br>
    <InputText @bind-Value="company.companyCounty">@company.companyCounty</InputText>
    <br>

    <label>Phone:</label>
    <br>
    <InputText @bind-Value="company.companyPhone">@company.companyPhone</InputText>
    <br>
    <br>
    <button type= "submit" class ="btn btn-primary">Add</button>
</EditForm>

<Modal @ref="confirmationModal"
       ShowCloseButton="false"
       CloseOnEscape="false">
    <BodyTemplate>Company added successfuly!</BodyTemplate>
    <FooterTemplate>
        <Button Color = "ButtonColor.Primary" @onclick ="HideConfirmationModal">Ok</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="errorModal"
       ShowCloseButton="false"
       CloseOnEscape="false">
    <BodyTemplate>Couldn't add company!'</BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="errorModal.HideAsync">Ok</Button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter]
    public string CIF { get; set; }

    Company company = new Company();
    Modal confirmationModal;
    Modal errorModal;

    async Task HandleSubmit()
    {
        MessageObjectAPI response = await APICallService.AddCompany(company);
        if (response.status == StatusCode.OK)
            await confirmationModal.ShowAsync();
        else
            await errorModal.ShowAsync();
    }

    async Task HideConfirmationModal()
    {
        await confirmationModal.HideAsync();
        NavigationManager.NavigateTo("/companies");
    }
}
